body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.loader {
  background: #002060;
  color: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 2;
}

.progress {
  position: absolute;
  top: 52%;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  background-color: white;
  transition: all 1s ease;
}
/* 
.nav--bar{
  position: absolute;
  display: flex;
  align-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.logo{
  margin-left: 40px;
} */

.first h1 {
  font-size: 4rem;
  /* line-height: 8rem; */
  /* letter-spacing: -0.3rem; */
  width: 50%;
  margin-top: 5rem;
}

.second {
  justify-content: flex-end;
  position: relative;
}
.section {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.section--one--container {
  width: 360px;
  margin-left: 15%;
}

.section--one--container p {
  margin-top: -4rem;
}

/* .button--navbar{
  background: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 40px;
  font-size: 0.6rem;
} */

.section--two--container {
  /* width: 360px; */
  /* margin-right: 10%; */
  margin: 0 auto;
  z-index: 1;
  color: white;
}

.section--third--container {
  width: 40rem;
  margin-left: 10%;
  z-index: 1;
}
.mb-10 {
  margin-bottom: 10rem;
}

h2 {
  font-size: 3rem;
  letter-spacing: -2px;
  /* line-height: 2.5rem; */
  text-align: center;
}

/* faixas em azul */
.custom--bg {
  width: 100%;
  height: 60rem;
  background: #002060;

  /* desenho e posicao da faixa - skew */
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  transform: skew(20deg) rotate(21deg);

  position: absolute;
  top: 0;
  left: 0;
}

footer {
  background: #002060;
  padding: 70px;
  display: flex;
  justify-content: center;
}

.button--footer {
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--footer:hover {
  background: #002060;
  color: white;
}

.white-button {
  background: white;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.white-button:hover {
  background: #304e89;
  color: white;
}
.grid {
  display: grid;
}
.grid-template-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-template-columns-4 {
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.grid-template-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}
.item {
  margin: 0.5rem;

  text-align: center;
}
.button--exit {
  width: 90px;
  margin-bottom: 5%;
  z-index: 5;
  position: fixed;
  bottom: 0;
  display: none;
}

.button--colors {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid white;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.button--colors:hover {
  filter: drop-shadow(0 0 0.75rem rgba(28, 17, 52, 0.704));
  transform: scale(1.5);
}

.button--hero {
  background: #002060;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 50px;
  padding: 15px 30px;
  margin: 1rem 1rem 14rem 0;
  /* margin-right: 40px; */
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}
.button--hero:hover {
  background: #000000;
  color: white;
}
.blue-button {
  background: #002060;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem 14rem 1rem;
  /* margin-right: 40px; */
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
  width: 100%;
}
.blue-button:hover {
  background: #000000;
  color: white;
}
.button--customize {
  background: #002060;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 50px;
  padding: 15px 30px;
  margin-top: 24px;
  margin-right: 40px;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.8s ease;
}

.customizer--container {
  position: fixed;
  top: 50%;
  display: none;
  transform: translateY(-50%);
}

.strap--colors {
  list-style: none;
}

.yellow {
  background-color: #f0d56c;
}

.red {
  background-color: rgb(231, 34, 34);
}

.black {
  background-color: rgb(74, 76, 79);
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

/********* MOBILE ADJUSTMENTS ***********/

@media (max-width: 600px) {
  html,
  body,
  .container,
  nav {
    overflow-x: hidden;
  }

  .first h1 {
    font-size: 3rem;
    /* line-height: 4rem; */
    letter-spacing: -0.1rem;
    width: 50%;
    margin: 0 0 15px 0px;
  }
  /* 
  .nav--bar{
    margin-top: 0;
    z-index: 1;
    background: #ffffffad;
    padding: 30px 0;
    backdrop-filter: blur(5px);
  } */

  .second {
    align-items: flex-end;
  }

  .section--one--container {
    width: 360px;
    margin-left: 6%;
    margin-top: 40%;
  }

  .section--one--container > p {
    width: 70%;
    margin-top: 1rem;
  }

  .section--third--container {
    width: 220px;
    margin-left: 10%;
  }
}

/* cards */
.infocardContainer * {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 300;
}
.infocardContainer h2 {
  font-size: 2rem;
  font-weight: 600;
  /* font-style: italic; 
  font-family: "Fira Sans Condensed", sans-serif; */
}

.infocardContainer {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background: rgb(0, 159, 255);
  background: linear-gradient(
    121deg,
    rgba(255, 255, 255, 0) 13%,
    rgba(0, 159, 255, 1) 100%
  );
  transition: all 500ms ease-in;
  transition-delay: 1s;
  margin: auto;
  margin: 1rem;
  --margin-top: 100px;
}
.infocardContainer:hover {
  width: 500px;
  border-radius: 100px 10px 100px 100px;
  transition: all 1s ease-out;
}

.infocardContainer div {
  text-color: white;
  flex-shrink: 1;
  width: 100%;
  --background-color: green;
}
.infocardContainer div * {
  display: flex;
  --flex: inherit;
  overflow: hidden;
  text-overflow: hidden;
  --background-color: yellow;
  color: white;
  white-space: nowrap;
  width: 0;
  height: auto;
  transition: all 450ms ease-in;
  transition-delay: 1s;
}
.infocardContainer:hover div * {
  --background-color: purple;
  display: flex;
  visibility: visible;
  transition: all 1s ease-out;
  transition-delay: 500ms;
  width: 100%;
  height: auto;
}

.infocardContainer #main,
.infocardContainer #main img {
  --background-color: red;
  height: 200px;
  width: 200px;
  padding-right: 10px;
  border-radius: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.infocardContainer #main img {
  height: 180px;
  width: 180px;
  transition: none;
  display: float;
  position: relative;
  border: 10px solid white;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.infocardContainer #textbois {
  position: relative;
}
.infocardContainer #textbois #hotlinks {
  max-width: 60%;
  max-height: 30px;

  --background-color: white;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 13px;
}
.infocardContainer #textbois #hotlinks * {
  background-color: white;
  max-width: 30px;
  --margin: 0 1px 0 1px;
  border-radius: 25px;
}
/*TODO: animate copy main transition style for info*/
.infocardContainer #textbois #hotlinks *:hover {
}
